NEXT_PUBLIC_SELF_APP_NAME="Self LayerZero Demo"
NEXT_PUBLIC_SELF_SCOPE="self-workshop"
NEXT_PUBLIC_SOURCE_CONTRACT=
NEXT_PUBLIC_DEST_CONTRACT=
NEXT_PUBLIC_SOURCE_EXPLORER=https://alfajores.celoscan.io
NEXT_PUBLIC_DEST_EXPLORER=https://sepolia.arbiscan.io

SOURCE_RPC=https://alfajores-forno.celo-testnet.org
DEST_RPC=https://sepolia-rollup.arbitrum.io/rpc
